/*  -------Style for css-demo------ */



/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


/*------------responsive Images-----*/

img{
max-width:100%;
height:auto;
}
/*  ----------------Utility Classes------------------  */


.container{
  max-width:80vw;
  margin:40px auto;
}

.img-right{
  float:right;
  margin: 10px 0 10px 20px;
  border: 2px dashed #2733db;
  padding: 5px;
  box-shadow: 4px 4px 1px rgba(0,0,0,.8);
}
.img-left{
  float:right;
  margin: 10px 20px 10px 0;
  border: 2px dashed #2733db;
  padding: 5px;
  box-shadow: 4px 4px 1px rgba(0,0,0,.8);
}
.img-center{
display: block;
margin:20px auto;
border: 2px dashed #2733db;
padding: 5px;
box-shadow: 4px 4px 1px rgba(0,0,0,.8);



}
  /* ---------global styles------ */
  

body{
font-family: 'Roboto Serif', serif;
margin:0;
background-image: url("../../../assets/img/cssdiner.png");
background-repeat: space;
background-size: contain;
background-position: center;
}

header.primary {
background-color: #2733db;
color: #db6009;
text-shadow: 2px 2px #000000;
text-align:center;
padding:40px;
}

header.primary h1 {
  background-color: #db6009;
  font-size: 2.4rem;
  margin: 20px 0 0;
}

header.primary h1 a{
  color:white;
  text-decoration:none;
}

header.primary h2{
  font-size:1.4rem;
  margin:0;
}

header.primary nav{
  max-width:900px;
  margin:25px auto;
}

header.primary nav ul{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  padding:0;
}

header.primary nav ul li{
  list-style-type:none;
}

header.primary nav ul li a {
color: antiquewhite;
text-decoration:none;
background-color: #000000;
background-color: rgba(0,0,0,.4);
padding:5px 10px;
border:1px solid black;
border-radius: 10px 5px;
transition:.5s;
}

header.primary nav ul li a:hover{
  background-color:rgba(0,0,0,.8); 
}

#intro{
 border-bottom: 1px dashed #2733db; 
 padding-bottom:14px;
}

#intro h2{
  color: #2733db;
  border-bottom:1px dashed #2733db;
}

#content{
  display:flex;
  flex-direction:row;
  gap:20px;
}

#content .post{
box-shadow: 0 4px 8px rgba(0,0,0,.4);
padding:10px;
border-radius:4px;
font-size:8.rem;
transition: 0.5s;
}

#content article.post:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,.4);
}

article.post figure{
  margin:0;
}

article.post time.post-date, article.post figcaption, article.post .post-meta
{
  text-transform: uppercase;
  color: #c0c0c0;
}

article.post a{
  color: aqua;
}

article.post a:hover{
  text-decoration: none;
}


article.post img{
  border:1px solid #2733db;
  padding:2px;
  margin:10px auto;
  background: #db6009;
}
#practice h2{
  color:#2733db;
  border-bottom: 2px dashed db6009;
}










aside[role="complementary"]{
  background-color: #172635;
  color:red;
  padding: 1.9rem;
}

aside .container{
  display:flex;
  flex-direction:row;
  gap:40px;
}

aside .container a:last-of-type{
  color:white;
  display:block;
  text-align: right;
  font-size: .8rem;
  margin-top: 10px;
}

aside .container a{color:#ffffff;
}

aside footer{
  display: none;
}

#colophone{
  background-color:#2733db;
  padding: 10px;
  color:white;
  text-align: center;
}







/*-----------------Media Queries---------------------- */


@media screen and (max-width:600px){
header.primary nav ul{
  flex-direction:column;
  max-width: 250px;
  margin:auto;
  gap:10px;
  #content {
    flex-direction: column;
  }
}
#content img{
  display:block;
  margin:auto;
}
header.primary nav ul a{
  display:block;
}


