/*  -------Style for css-demo------ */



/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


/*------------responsive Images-----*/

img{
max-width:100%;
height:auto;
}
/*  ----------------Utility Classes------------------  */


.container{
  max-width:80vw;
  margin:40px auto;
}
<<<<<<< HEAD
.img-right{
float:right;
margin: 10px 0 10px 20px;
border: 2px solid gray;
padding: 5px;
background-color: gray;
box-shadow: 5px 5px 2px #db6009;
}
.img-left{
  float:left;
  margin: 10px 20px 20px 30px;
  border: 2px solid gray;
  padding: 5px;
  background-color: gray;
  box-shadow: 5px 5px 2px #db6009;
  }
  .img-center{
display:block;
margin: 15px auto;
border: 2px solid gray;
padding: 5px;
background-color: gray;
box-shadow: 5px 5px 2px #db6009;
  }
=======

.img-right{
  float:right;
  margin: 10px 0 10px 20px;
  border: 2px dashed #2733db;
  padding: 5px;
  box-shadow: 4px 4px 1px rgba(0,0,0,.8);
}
.img-left{
  float:right;
  margin: 10px 20px 10px 0;
  border: 2px dashed #2733db;
  padding: 5px;
  box-shadow: 4px 4px 1px rgba(0,0,0,.8);
}
.img-center{
display: block;
margin:20px auto;
border: 2px dashed #2733db;
padding: 5px;
box-shadow: 4px 4px 1px rgba(0,0,0,.8);
>>>>>>> 7bcf4d10e78f2015e3d0307a1428537115ab850c



}
  /* ---------global styles------ */
  

body{
font-family: 'Roboto Serif', serif;
margin:0;
<<<<<<< HEAD

=======
background-image: url("../../../assets/img/cssdiner.png");
background-repeat: space;
background-size: contain;
background-position: center;
>>>>>>> 7bcf4d10e78f2015e3d0307a1428537115ab850c
}

header.primary {
background-color: #2733db;
color: #db6009;
text-shadow: 2px 2px #000000;
text-align:center;
padding:40px;



background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='84' viewBox='0 0 126 84'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%237fff00' fill-opacity='0.4'%3E%3Cpath d='M126 83v1H0v-2h40V42H0v-2h40V0h2v40h40V0h2v40h40V0h2v83zm-2-1V42H84v40h40zM82 42H42v40h40V42zm-50-6a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm96 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm-42 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm30-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM20 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 24a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24-42a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
header.primary h1 {
  background-color: #db6009;
  font-size: 2.4rem;
  margin: 20px 0 0;
}

header.primary h1 a{
  color:white;
  text-decoration:none;
}

header.primary h2{
  font-size:1.4rem;
  margin:0;
}

header.primary nav{
  max-width:900px;
  margin:25px auto;
}

header.primary nav ul{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  padding:0;
}

header.primary nav ul li{
  list-style-type:none;
}

header.primary nav ul li a {
color: antiquewhite;
text-decoration:none;
background-color: #000000;
background-color: rgba(0,0,0,.4);
padding:5px 10px;
border:1px solid black;
border-radius: 10px 5px;
transition:.5s;
}

header.primary nav ul li a:hover{
  background-color:rgba(0,0,0,.8); 
}

#intro{
 border-bottom: 1px dashed #2733db; 
 padding-bottom:14px;
}

#intro h2{
  color: #2733db;
  border-bottom:1px dashed #2733db;
}

#content{
  display:flex;
  flex-direction:row;
  gap:20px;
}

#content .post{
box-shadow: 0 4px 8px rgba(0,0,0,.4);
padding:10px;
border-radius:4px;
font-size:8.rem;
transition: 0.5s;
}

#content article.post:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,.4);
}

article.post figure{
  margin:0;
}

article.post time.post-date, article.post figcaption, article.post .post-meta
{
  text-transform: uppercase;
  color: #c0c0c0;
}

article.post a{
  color: aqua;
}

article.post a:hover{
  text-decoration: none;
}


article.post img{
  border:1px solid #2733db;
  padding:2px;
  margin:10px auto;
  background: #db6009;
}
<<<<<<< HEAD

#practice h2{
  color: #2733db;
  border-bottom: 2px solid #db6009;
}

table{
  border:1px solid #db6009;
  width:100%;
  border-collapse: collapse;
}
caption{
  font-size: large;
  color: #db6009;
}

tr:nth-child(odd){
  background-color: rgba(39, 51, 219,.5);
}
tr:hover{
  background-color: #db6009;
}
th{
  background-color: #2733db;
  color:white;
  padding: 10px;
}
td:nth-child(n+2){
  text-align: right;
}
td{
  border:1px solid #db6009;
  padding: 5px;
}

#practice ol{
  clear:both;
  list-style-type: lower-roman;
}
#practice ul{
list-style-type:circle;
}
#practice ul ul{
  list-style-type:"⛅";
}
dl{
  width: 50%;
  background: #2733db;
  color:chartreuse;
  margin:auto;
  text-align: center;
  box-shadow: 0 4px 8px #db6009;
  border: 4px solid chartreuse;
  border-radius: 10px;
}
dt{
  font-weight: bolder;
  
}
dd+dt{
  margin-top: 20px;
}
dd{
  margin:0;
}
#practice h4{
  border-left: 20px solid #2733db;
  padding: 10px;
  color: chartreuse;
  background-color: rgba(0,0,0,.4);
}
#practice blockquote{
  background: rgba(25, 25, 212, 0.677);
  padding: 20px 30px 20px 30px;
  margin: 50px auto;
  width: 50%;
  max-width: 500px;
  box-shadow: 0 4px 8px #db6009;
  color:chartreuse;
  border: 2px solid chartreuse;
  border-radius: 15px;
}
#practice blockquote:hover{
  background-color: yellow;
}
#practice blockquote cite{
  display: block;
  text-align: right;
  font-size: .8rem;
  margin-top: 10px;
  color:#db6009;
}
=======
#practice h2{
  color:#2733db;
  border-bottom: 2px dashed db6009;
}









>>>>>>> 7bcf4d10e78f2015e3d0307a1428537115ab850c

aside[role="complementary"]{
  background-color: #2733db;
  color:#db6009;
  padding: 1.9rem;
}

aside .container{
  display:flex;
  flex-direction:row;
  gap:40px;
}

aside .container a:last-of-type{
<<<<<<< HEAD
  color: chartreuse;
display:block;
text-align:right;
font-size:.8rem;
margin-top:10px;

}
aside footer{
  display: none;
}
/* ---Visibility hidden (instead of display none) will hide item but maintain placeholder--- */

#colophon{
  background-color: #db6009;
  padding: 25px;
  color: #2733db;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='84' viewBox='0 0 126 84'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%237fff00' fill-opacity='0.8'%3E%3Cpath d='M126 83v1H0v-2h40V42H0v-2h40V0h2v40h40V0h2v40h40V0h2v83zm-2-1V42H84v40h40zM82 42H42v40h40V42zm-50-6a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm96 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm-42 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm30-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM20 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 24a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24-42a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}
=======
  color:white;
  display:block;
  text-align: right;
  font-size: .8rem;
  margin-top: 10px;
}

aside .container a{color:#ffffff;
}

aside footer{
  display: none;
}

#colophone{
  background-color:#2733db;
  padding: 10px;
  color:white;
  text-align: center;
}



>>>>>>> 7bcf4d10e78f2015e3d0307a1428537115ab850c




/*-----------------Media Queries---------------------- */


@media screen and (max-width: 600px) {
  header.primary nav ul {
  flex-direction: column;
  max-width: 250px;
<<<<<<< HEAD
  margin: auto;
  gap: 10px;
=======
  margin:auto;
  gap:10px;
  #content {
    flex-direction: column;
  }
}
#content img{
  display:block;
  margin:auto;
>>>>>>> 7bcf4d10e78f2015e3d0307a1428537115ab850c
}
header.primary nav ul a {
  display:block;
}
#content,
aside .container {
  flex-direction: column;
}
#content img{
  display: block;
  margin:auto;
}
}