/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }









body{

    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Serif', serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


h1{
    text-align: center;
    color: red;
    background-color: rgba(0, 241, 144, 0.5);
padding:20px 20px 20px 20px;
border:3px solid black;
border-radius: 10px 10px;
transition:.5s;
margin: 10px 580px 10px 580px;
}
h1:hover{
    background-color: rgba(176, 175, 144, 0.5)
}
h2 {
    margin-left: 60px;
    color: royalblue;
    text-decoration: underline;
}

#progressive{
    background-color: aqua;
    color: green;
    text-shadow: .5px .5px white;
    border: 1px solid black;
}
#pelinks li{
  display: block;
  margin: 10px 500px 20px 400px
}

#accessibility {
margin-top: 40px;
border-top: 3px double blue;
}
cite {
  display: block;
  margin-left: 70px;
  margin-right: 70px;
}
#gartner {
  display: block;
  margin: 40px;
  margin-left: 400px;
  margin-right: 400px;
}
@counter-style thumbs {
    system: cyclic;
    symbols: "\1F44D";
    suffix: " ";
  }
  
  ul {
    list-style: thumbs;
    list-style-position: inside;
  }

#writing {
  margin: 40px;
}

  #writing ul {
    margin: 20px;
    list-style: "🌐";
  }
  #writing h2 {
    text-align: center;
    color:  rgba(0, 241, 144);
  }
  #writing aside ul {
    list-style: "🐇"
   

  }
  aside{
    display: block;
    text-align: center;
    background-color: orange;
    margin-left: 400px;
    margin-right: 400px;
  }
  #revisions{
    border-radius: 4px;
    border: 4px dashed green;
    background-color: rgba(128, 128, 128, .4);
    margin: auto;
  }
  
  #revisions h2{
    background-color: yellow;
    margin: 20px;
    display: block;
    border: 4px dashed red;
    padding: 50px;
    
    color: black;

  }
  #revisions p{
    padding: 30px;
  }
  #revisions h3{
    color: #C02CF5;
    text-align: center;
  }
  .bow{
    text-align: center;
    font-size: 5rem;
    background-color: blue;
    margin-bottom: -80px;
   margin-left: 20px;
   margin-right: 20px;
   
  }
 #christmas {
  border-radius: 4px;
  border: 4px dashed blue;
  padding: 4px;
 }
 .red{
  color: white;
  background-color: red;
 }
 .green{
  background-color: green;
  color: white;
 }
 .blue{
  color: white;
  background-color: blue;
 }
