/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }









body{

    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Serif', serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


h1{
    text-align: center;
    color: red;
    background-color: rgba(0, 241, 144, 0.5);
padding:20px 20px 20px 20px;
border:3px solid black;
border-radius: 10px 10px;
transition:.5s;
margin: 10px 600px 10px 600px;
}
h1:hover{
    background-color: rgba(176, 175, 144, 0.5)
}


#progressive{
    background-color: aqua;
}