body{
    background-color:darkgray;
}
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
img{
    max-width:95%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    
    
}
img {
    
    border-radius: 50%;
    border: solid 5px chartreuse;
    box-shadow: 0px 4px 4px 4px orange;
  }
 
.container{
    padding: 10px;
    margin:150px auto;
    width:70vw;
    /* Set Max Content Width */
    max-width:700px;
}

/* Customize Previous/Next/Dots/Autoplay */

.slick-autoplay-toggle-button,
.slick-prev .slick-prev-icon, .slick-next .slick-next-icon,
.slick-dots li button .slick-dot-icon,
.slick-dots li.slick-active button .slick-dot-icon {
  color: white;
}

/* Customize Previous/Next/Dots/Autoplay - Active State */

.slick-next:focus .slick-next-icon,
.slick-next:focus .slick-prev-icon,
.slick-prev:focus .slick-next-icon,
.slick-prev:focus .slick-prev-icon,
.slick-dots li button:focus .slick-dot-icon:before,
.slick-dots li.slick-active button:focus .slick-dot-icon,
.slick-autoplay-toggle-button:focus 
{
    color:black;
}